@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        width: 8px;
    }
    .scrollbar-custom::-webkit-scrollbar-track {
        background: #009DD5;
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #FFC900;
        border-radius: 10px;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #5AB24B;
    }
    .scrollbar-native::-webkit-scrollbar {
        width: 1px;
    }
    .scrollbar-native::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }
    .scrollbar-native::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    .scrollbar-native::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}